{#
/**
 * @file
 * Default theme implementation to present a listado entity.
 *
 * This template is used when viewing a registered listado's page,
 * e.g., /admin/content/listado)/123. 123 being the listado's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.title'.
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_listado()
 */
#}
<article{{ attributes }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</article>
