{#
/**
 * @file
 * Default theme implementation to present a message entity.
 *
 * This template is used when viewing a registered message's page,
 * e.g., /admin/content/message)/123. 123 being the message's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.title'.
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_message()
 */
#}
<article{{ attributes }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</article>
